# migrations 
*/migrations/*
!*/migrations/__init__.py

# PyCache
*/__pycache__/*
*/*/__pycache__/*

# database
*db.sqlite3

# venv
*env
*Pipfile
*Pipfile.lock

# IDE
*.vscode
*.idea

# uploads media
media/*
!media/default/

# static files
static/*
staticfiles/*
